# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

backend/HELP.md
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!libs
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/
backend/
### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
backend/!**/src/main/**/bin/
backend/!**/src/test/**/bin/
backend/
### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/!**/src/main/**/out/
backend/!**/src/test/**/out/
backend/
### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/
### VS Code ###
backend/.vscode/

### NetBeans ###
desktop/nbproject/private/
desktop/nbproject/Makefile-*.mk
desktop/nbproject/Package-*.bash
desktop/build/
desktop/nbbuild/
desktop/dist/
desktop/store/
desktop/nbdist/
desktop/.nb-gradle/
